################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BankOfDotnet/.vs/BankOfDotnet/v16/Server/sqlite3
/BankOfDotnet/BankOfDotnet.API/bin/Debug/netcoreapp3.0
/BankOfDotnet/BankOfDotnet.API/obj
